{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "eol-last": ["error", "always"],
    "semi": ["error", "never"],
    "no-console": "warn",
    "import/no-extraneous-dependencies": {
      "moduleDirectories": ["./"]
    },
    "no-restricted-syntax": "warn",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.spec.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
